<h1>Word Study List</h1>
<h3>Click on a word to see its definitions</h3>

<ul>
	<% @words.each() do |word| %>
		<li><a href="/word/<%= word.id() %>"><%= word.name() %></a></li>
	<% end %>
</ul>

<form action="/new_word" method="post">
	<label for="new_word">Add a word:</label>
	<input type="text" name="new_word" id="new_word" autofocus>

	<button type="submit" class="btn btn-primary">Add Word</button>
</form>

<form action="/clear_words" method="post">
	<button type="submit" class="btn btn-danger">Clear All</button>
</form>
